@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.font-italic{
	 font-style: italic !important; 
}
@media only screen and (max-width: 576px) {
	.onglet-content {
		min-width: 190px;
	}
	.footer .row{
		text-align: center;
	}
	.plier{
		border-left: 7px solid #CD0033;
		border-bottom: none !important;
		margin: 15px 15px !important;

	}
  }

body{
	font-family: 'Nunito Sans', sans-serif !important;
}
nav{
	background-color: white !important;
	height: 80px;
	box-shadow:0px 2px 5px gray;
	margin-bottom: 30px;
}
nav ul li {
	margin-right: 19px;
	color: black;
	line-height: 60px;
}
nav ul li .active{
	border-bottom: 5px solid #CD0033;
}
li a{
	font-weight: bold;
}
button{
	border-radius: 15px;
	color: white;
}
.blog-title{
	font-weight: bold;
	font-size: 32px;
	color: #CD0033;
}

.onglet-menu{
	margin-left: 10%;
}
.nav-link{
	color: red;
}
.child1 {
	position: relative;
	padding: 20px 20px 20px 20px;
	z-index: 950;
	width: 700px;
	background-color: white;
	left: 90px; border-radius: 8px; 
	box-shadow: 0px 0px 5px white;
}
.child1 .child2{
	display: contents;
}
.child2 {
	position: relative;
	min-width: 24em;
	z-index: 900;
	background-color: #CD0033;
	left: -43%;
	top: -22px;
	transform: rotate(6deg);
	border-radius: 8px;
}

.deg{
	min-height: 100px;
	border-radius: 0px 0px 90px 0px;
}
.deg0{
	background-color: rgb(205, 0, 51);
	color: white;
}
.deg1{
	background-color: rgba(205, 0, 51, 0.75);
	position: relative;
	top: -85px;
}
.deg2{
	background-color: rgba(205, 0, 51, 0.5);
	position: relative;
	top: -170px;
}
.text-ouverture{
	font-weight: 66px;
	float: right;
}
.text-date{
	float: right;
	font-weight: bold;
	font-size: 70px;
}
.blog8{
	position: relative;
}
h1, h2, h3{
	color: #CD0033;
}
h4{
	color: white;
	font-size: 49px !important;
}
p{
	font-size: 16px;
}
.valeur{
	border-bottom: 9px solid #CD0033;
	box-shadow: 0px 1px 20px 1px #DEDEDE;
	font-size: 13px;
	height: 160px;
	font-size: 14px;
}
.trait{
	max-width: 30px;
	min-height: 6px;
	border-radius: 8px;
}
.plier-6{
	min-width: 1300px;
}
.valeur_slide{
	z-index: 1000;
	float: right;
	background-image: url("../img/slide1.jpg");
	box-shadow: 17px -16px #CD0033;
	border-radius: 20px;
	min-height: 600px;
	max-width: 100% !important;
	background-size: cover;   
}
.text-hidden{
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin: 15px 15px;
	border-radius: 0px 0px 80px 0px;
	text-align: right;
}
.cercle-deco{
    width: 10%;
    height: 10%;
    margin-top: -150px;
    margin-left: -790px;
    z-index: 3;
    opacity: 100%;
    position: relative;
}
.cercle-couper{
    width: 10%;
    height: 10%;
    margin-top: -830px;
    margin-left: 650px;
    z-index: 3;
    opacity: 100%;
    position: relative;
}

/*Nos valeurs*/
.triangle {
	width: 0;
	position: relative;
	height: 0;
	margin-top: 45px;
	margin-left: 33px;
	transform: rotate(-90deg);
	border: 0 solid transparent;
	border-right-width: 25px;
	border-left-width: 25px;
	border-top: 80px;
	border-bottom: 20px solid #CD0033;
}
.onglet_general{
	position: relative;
}
.engagement{
	min-height: 110px;
}

.onglet-number{
	border-radius: 250px;
	width: 67px;
	text-align: center;
	background-color: rgba(205, 0, 51, 0.20);
	padding: 12px 1px 12px 1px;
}
.onglet-number > h1{
	text-align: center;
	color: #CD0033;
}
.onglet-content{
	cursor: pointer;
	padding: 10px 10px;
	box-shadow: 0px 0px 10px #BFBFBF;
}
.onglet-content:hover{
	background-color :rgba(205, 0, 51, 0.1);
	transition: 0.2s;
}
.onglet-sub-title{
	font-size: 22px;
}
.btn-see-more{
	border-radius: 90px !important;
} 
.btn-see-more a{
	padding: 4px;
	color: white;
	text-decoration: none;
}
.btn-see-more a:hover{
	color: white;
}

/*Equipe*/

.equipe h6{
	font-weight: bold;
	color: #CD0033;
}
.equipe p{
	padding-top: -20px;
	font-weight: 500 ;
	color: #CD0033;
}
.formateur{
	padding-left:52px;
}

.plier{
	margin: 5px 5px;
	padding: 10px 10px;
	width: 340px ;
	border-bottom: 7px solid #CD0033
}
/*Nos chiffre*/

.chiffres{
	padding-top: 60px;
	min-height: 250px;
	background-image: url("../img/bgChiffre.png");
}
.chiffres h1{
	color: white;
	font-size: 60px;
}
.chiffres p{
	
	color: white;
	font-size: 19px;
}

/*footer*/

.footer{
	background-image: url("../img/bgFooter.png");
	width: 100%;
	height: auto;
	color: white;
}
.footer h2{
	color: white;
	font-weight: bold;
}



/*Recrutement*/

.input{
	height: 40px;
}
.accordion-button::after {
	background-image: url("../img/iconePlus.png");
}
.accordion-button:not(.collapsed)::after {
	background-image: url("../img/iconeMoins.png");
}